.bg-red {
    background-color: rgb(133, 16, 16);
}

.bg-blue {
    background-color: rgb(23, 81, 168);
}

.bg-yellow {
    background-color: burlywood;
}

.bg-orange {
    background-color: orange;
}

.bg-darki {
    background-color: rgb(0, 0, 0);
}

.bg-gris {
    background-color: rgb(17, 17, 17);
}

.warningg {
    color: yellow;
}


/*--------- utilidades */

.margen {
    margin-top: 8px;
    margin-bottom: 8px;
}


/*----------------------*/

.img-header {
    background-image: url(/assets/img/wallpaper.png);
    background-position: center center;
    background-size: cover;
    height: 65vh;
    min-height: 10rem;
}

.img-header2 {
    background-image: url(/assets/img/tlalocan.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: -25px;
    height: 75vh;
    min-height: 25rem;
}

.img-header3 {
    background-image: url(/assets/img/omeyocan.jpg);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    min-height: 10rem;
}

.img-header4 {
    background-image: url(/assets/img/mictlán.jpeg);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    min-height: 10rem;
}

.min-img {
    max-width: 300px;
    min-height: 200px;
}

.text-big {
    font-size: 75px;
}

.text-med {
    font-size: 50px;
}

.text-sml {
    font-size: 30px;
}

.img-card-x {
    width: 18rem;
    float: left;
    margin: 15px;
}